@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-white font-sans text-[15px] leading-[1.7] text-slate-900 antialiased;
  }
}
